.home {
  width: 100%;
  padding: 20px 30px;
  overflow-y: auto;
}

.headerHome {
  display: flex;
  justify-content: space-between;
}

.headerNurses {
  display: flex;
  justify-content: center;
}

.headerNurses > div {
  display: flex;
  margin-top: 40px;
  width: 100%;
  max-width: 500px;
  gap: 15px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #e7e7e7;
  border: 1px solid #b6b6b6;
  border-radius: 6px;
  box-sizing: border-box;
}

.headerNurses > div > div {
  flex: 1;
}

.patients {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 0;
  gap: 10px;
}
